/******************/
/* project styles */
/******************/

:root {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: var(--color-dark-bg);
    color: var(--color-bright-fg);
    min-width: 320px;
}

button {
    background-color: var(--color-dark-bg);
    color: var(--color-dark-fg);
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
}


button:hover:not(:disabled).positive {
    color: var(--color-positive);
}

button:hover:not(:disabled).negative {
    color: var(--color-negative);
}


button:not(:disabled) {
    cursor: pointer;
}

button:hover:not(:disabled) {
    color: var(--color-accent);
    background-color: var(--color-bright-bg);
}

button.icon {
    padding: 0;
    background-color: initial;
}
.button.icon {
    background-color: initial;
}


button.icon {
}


.form-error {
    color: var(--color-negative);
}

.card {
    border: 1px solid var(--color-dark-fg);
    border-radius: 12px;
    max-width: 1000px;
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.hidden {
    visibility: hidden;
}

span.tooltip {
    position: absolute;
    transform: translateY(calc(-100% - 5px));
    background: var(--color-bright-bg);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-out;
}

span.tooltip.show {
    visibility: visible;
    opacity: 1;
}


#tagselectpanel {
    position: absolute;
    width: 248px;
    transform: translateY(10px);
}

#tagselectpanel input {
    box-sizing: border-box;
    width: 100%;
}


button.dropdown.selected {
    color: var(--color-accent);
    background-color: var(--color-bright-bg);
}

button.dropdown.active {
    background-color: var(--color-bright-bg);
}

/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    z-index: 2000;
}


::-webkit-scrollbar-track {
    background: var(--color-dark-bg);
    z-index: 2001;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-bright-bg);
    z-index: 2001;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-dark-fg);
}

::-webkit-scrollbar-corner {
    background: var(--color-bright-bg);
    z-index: 2001;
}

.panel {
    background-color: var(--color-bright-bg);
    border-radius: 8px;
    padding: 10px;
}

.panel ::-webkit-scrollbar-track {
    background: var(--color-bright-bg);
}
.panel ::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-bg);
}
.panel ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-dark-fg);
}
.panel ::-webkit-scrollbar-corner {
    background: var(--color-dark-bg);
}

.panel button {
    background-color: var(--color-bright-bg);
    color: var(--color-dark-fg);
}


.tag-select-chip {
    border-radius: 25px;
    border: 1px solid var(--color-dark-fg);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 3px;
    width: fit-content;
    transition: border 1s ease;
}

.tag-select-chip:hover {
    cursor: pointer;
    border: 1px solid var(--color-accent);
    
    transition: initial;
}

.tag-select-chip.selected {
    cursor: pointer;
    border: 1px solid var(--color-accent);
    background: var(--color-accent);
}

.secret-list-value, .secret-upsert-value {
    border-bottom: 1px solid var(--color-dark-fg);
}

.secret-list-value {
    width: 250px;
    word-wrap: break-word;
    max-height: 50px;
    overflow: auto;
    padding: 10px;
    transition: border 1s ease;
    white-space: pre-line;
}

.secret-upsert-value {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: var(--color-bright-bg);
}

textarea.secret-upsert-value {
    resize: none;
}



.secret-list-value:hover {
    border-bottom: 1px solid var(--color-accent);
    transition: initial;
}

li.navigation.selected {
    border-bottom: 2px solid var(--color-accent);
}

table {
    border-collapse: collapse;
}
th {
    font-weight: bold;
    padding-bottom: 10px;
}
thead {
    border-bottom: 1px solid white;
}
td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: bottom;
}

#tagBox {
    border-radius: 8px;
    padding: 10px;
}

.toast {
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: var(--color-bright-bg);
    border-radius: 8px;
    padding: 10px;
}

.toast.created {
    opacity: 1;
}

.toast.error {
    background: var(--color-negative);
}

.toast button:hover {
    background-color: initial;
}
.toast.error button.icon:not(:hover) {
    color: var(--color-bright-fg);
}
