@using Gabbro_Secret_Manager.Views.Shared;
@model ConfirmDeleteSecretListEntryModel


<td colspan="5">
    <div style="background: var(--color-bright-bg); padding: 5px; border-radius: 5px;" class="flex flex-row gap-5 align-center j-end">
        Are you sure you want to delete?
        <button class="negative bg-bb"
            hx-delete="/actions/delete-secret"
            hx-vals='{"@SecretListEntryModel.SecretNameKey":"@Model.SecretName"}'
            hx-target="closest tr"
            >delete</button>
        <button 
            class="bg-bb"
            hx-get="/partials/secretListEntry"
            hx-vals='{"@SecretListEntryModel.SecretNameKey":"@Model.SecretName"}'
            hx-target="closest tr"
            >cancel</button>
    </div>
</td>
