@model Gabbro_Secret_Manager.Views.Shared.HomeModel
<div class="page flex flex-col align-center" id="home">
    <form class="card flex flex-col align-center">
        <div class="flex flex-row">
            <input type="text" name="search" _="on keyup send secretsFilterUpdate" placeholder="Search" value="@Model.SearchString"/>
            @await Html.PartialAsync("TagSelect", Model.Secrets.CreateTagSelectModel())
            <button type="button" hx-get="/partials/upsertSecretForm" hx-vals='{"shouldOverwriteExisting":false}' hx-target="#home" hx-swap="outerHTML">
                <i class="fa-solid fa-plus"></i>
                Add Secret
            </button>
        </div>
        @await Html.PartialAsync("SecretList", Model.Secrets)
    </form>
</div>

