@model Gabbro_Secret_Manager.Views.Shared.PasswordReentryFormModel

<div class="flex flex-col align-center" id="passwordReentryForm" style="gap: 60px;">
    <h2>Please re-enter password to continue</h2>
    <form class="flex flex-col gap-15 align-center" hx-post="/actions/refresh-encryption-key" hx-target="#passwordReentryForm" hx-swap="outerHTML">
        <input id="password" autocomplete="current-password" type="password" name="password" placeholder="password" class="fs-18" value="@Model.Text"/>
        @if (!string.IsNullOrEmpty(Model.Error))
        {
            <div class="form-error">@Model.Error</div>
        }
        <button type="submit">Continue</button>
    </form>
</div>
