@model Gabbro_Secret_Manager.Views.Shared.PasswordReentryModalModel

<div class="flex flex-col align-center" id="passwordReentryModal" style="gap: 60px;" _="on validatedpassword from body trigger closeModal(password: the event's detail)">
    <h2>Please re-enter password to continue</h2>
    <form class="flex flex-col gap-15 align-center" hx-post="/actions/modal-validate-password" hx-target="#passwordReentryModal" hx-swap="outerHTML">
        <input id="password" autocomplete="current-password" type="password" name="password" placeholder="password" class="fs-18" value="@Model.Text"/>
        @if (!string.IsNullOrEmpty(Model.Error))
        {
            <div class="form-error">@Model.Error</div>
        }
        <button type="submit">Continue</button>
    </form>
</div>
