@model Gabbro_Secret_Manager.Views.Shared.SecretListModel
<div class="flex flex-col gap-5">
    @foreach(var secret in Model.Values)
    {
        <div class="flex flex-row secret-list">
            <input name="@secret.Name" type="text" value="@secret.Value"/>
            <input name="add tag" type="text"/>
            <button>Add Tag</button>
            <div>
                @foreach(var tag in secret.Tags)
                {
                    <button class="secret-list-tag">@tag</button>
                }
            </div>
        </div>
    }
</div>
