@model Gabbro_Secret_Manager.Views.Shared.SecretListModel
<ul class="flex flex-col gap-5">
    @foreach(var secret in Model.Values)
    {
        <!--TODO: name, copy value, tags, edit button, delete button -->
        <li class="flex flex-row secret-list">
            <span>@secret.Name</span>
            <span>@secret.Value</span>
            <div>
                @foreach(var tag in secret.Tags)
                {
                    <button class="secret-list-tag">@tag</button>
                }
            </div>
        </li>
    }
</ul>
