@using Gabbro_Secret_Manager.Views.Shared;
@model SecretListModel

<table class="width-100">
    <thead>
        <tr>
            <th>name</th>
            <th>value</th>
            <th>tags</th>
        </tr>
    </thead>
    <tbody>

    @foreach(var secret in Model.Values)
    {
        <!--TODO: name, copy value, tags, edit button, delete button -->
        <tr>
            @await Html.PartialAsync("SecretListEntry", new SecretListEntryModel { Secret = secret })
        </tr>
    }
    </tbody>
</table>
