@model Gabbro_Secret_Manager.Views.Shared.SettingsModel
<div id="settings">
    <button>log out</button>
    <div>
        <button>export data</button>
        <button>import data</button>
    </div>
    <form>
        <input name="name" placeholder="name"/>
        <button>add api key</button>
    </form>
    <div>


    </div>
</div>

