@model Gabbro_Secret_Manager.Views.Shared.SettingsModel
<div id="settings">
    <button>log out</button>
    <div>
        <button>export data</button>
        <button>import data</button>
    </div>
    <form>
        <input name="name" placeholder="name"/>
        <button type="submit">add api key</button>
    </form>
    <ul>
        @foreach(var apiKey in Model.ApiKeys)
        {
            <l1>
                <div class="secret-list-value">@apiKey</div>
                <button>delete</button>
            </l1>
        }
    </ul>
</div>

