@model Gabbro_Secret_Manager.Views.Shared.TagSelectModel
<div id="tag-select">
    <button class="dropdown @if (Model.HasActiveTags()) { <text>active</text> }"
        _="on click toggle .hidden on #tagselectpanel
           on click toggle .selected on me
           on secretsFilterUpdate from #tag-select
                if <.tag-select-chip.selected/> exists
                    add .active
                else
                    remove .active
                end
        ">Tags</button>
    <div id="tagselectpanel" class="hidden panel flex flex-col gap-15 align-start" 
        _="on mousedown from elsewhere
            if I do not match .hidden and the event's srcElement is not the previous <button/>
                add .hidden
                remove .selected from the previous <button/>
            end
            ">
        <button _="on click 
            send click to <.tag-select-chip.selected/>
            set (the next <input/>)'s value to ''
            send keyup to the next <input/>"
        >Reset</button>
        <input placeholder="Filter tags" type="text"
            _="on keyup show <label/> in #tag-select-list
                when it's innerHTML contains my value"/>
        <div id="tag-select-list" class="flex flex-col gap-10" style="max-height: 140px; overflow: auto;">
            @foreach(var option in Model.DummyOptions)
            {
                <label class="tag-select-chip @if (option.Value) { <text>selected</text> }"
                    for="tag-select-input-@option.Key"
                    _="on click
                        toggle .selected
                        toggle @@selected on the next <input/>
                        trigger secretsFilterUpdate
                ">@option.Key</label>
                <input type="checkbox" id="tag-select-input-@option.Key" name="@option.Key" style="display: none;"
                    @if (option.Value) { <text>selected</text> }
                />
            }
        </div>
    </div>
</div>
