@model Gabbro_Secret_Manager.Views.Shared.UpsertSecretFormModel

<div class="page flex flex-col align-center" id="upsertSecretForm">
    <div class="flex flex-col align-center" style="max-width: 250px">
        <form class="flex flex-col gap-15" hx-post="actions/upsert-secret" hx-target="#upsertSecretForm" hx-swap="outerHTML">
            <input type="checkbox" name="shouldOverwriteExisting" style="display: none;"
                @if (Model.ShouldOverwriteExisting) { <text>selected</text> }
            />
            <div class="flex flex-col gap-5">
                <input type="text" name="Key" class="fs-18" value="@Model.Key"/>
                <div>Key</div>
            </div>
            <div class="flex flex-col gap-5">
                <input type="text" name="Value" class="fs-18" value="@Model.Value"/>
                <div>Value</div>
            </div>
            <div class="flex flex-col gap-5">
                <input type="text" name="Comments" class="fs-18" value="@Model.Comments"/>
                <div>Comments</div>
            </div>
            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <div class="form-error">@Model.Error</div>
            }
            <div class="flex flex-row j-between">
                <button class="positive" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

