@model Gabbro_Secret_Manager.Views.Shared.UpsertSecretFormTagModel
<div class="flex tag-select-chip gap-5 flex-row align-center">
    <label>@Model.Value</label>
    <input type="text" name="tags" value="@Model.Value" style="display: none;"/>
    <button class="icon" type="button" _="on click remove the closest <div />"><i class="fa-solid fa-x fs-8"></i></button>
</div>
