
@code {
    [Parameter, EditorRequired]
    public required List<string> Tags { get; set; }

    [Parameter]
    public bool Swap { get; set; } = false;
    private Dictionary<string, object> _attributes = new();
    protected override void OnInitialized()
    {
        if (Swap)
            _attributes["hx-swap-oob"] = "true";
    }
}

<div id="tags-filter-list" class="tags" @attributes=_attributes>
    @foreach(var tag in Tags)
    {
        <div class="tag">
            <button
                _="on click
                    toggle .is-link on the closest .tag
                    toggle [@@name=tags] on the next <input />
                ">
                @tag
            </button>
            <input type="hidden" value="@tag"/>
        </div>

    }
</div>
