<Modal Title="Create Secret">
    <BodyContent>
        <form id="create-secret-form" class="control" hx-swap="none" hx-post="/secrets/create">
            <Secret />
            <input name="is-create" value="true" type="hidden"/>
        </form>
    </BodyContent>
    <FooterContent>
        <div class="buttons">
            <button
                _="on click send submit to #create-secret-form"
                class="button is-success is-dark">Save</button>
            <button
                _="on click send click to the previous .modal-background"
                class="button is-danger is-dark">Cancel</button>
        </div>
    </FooterContent>
</Modal>