@using GabbroSecretManager.UI.Bulma.Components.Elements
@using Haondt.Web.Components
@code {
    [Parameter, EditorRequired]
    public required GabbroSecretManager.Core.Models.Secret Secret { get; set; }

    [Parameter, EditorRequired]
    public required long SecretId { get; set; }

    private Secret _secret = default!;
    protected override void OnInitialized()
    {
        _secret = GabbroSecretManager.UI.Secrets.Components.Secret.FromSecret(Secret);
    }

}
<Modal Title="Edit Secret">
    <BodyContent>
        <form id="edit-secret-form" class="control" hx-swap="none" hx-post="/secret/@SecretId">
            <ObjectComponentT Component="@_secret"  />
        </form>
    </BodyContent>
    <FooterContent>
        <div class="buttons">
            <button
                _="on click send submit to #edit-secret-form"
                class="button is-success is-dark">Save</button>
            <button
                _="on click send click to the previous .modal-background"
                class="button is-danger is-dark">Cancel</button>
        </div>
    </FooterContent>
</Modal>
