@using GabbroSecretManager.UI.Bulma.Components.Elements
@code {
    [Parameter]
    public List<string> Tags { get; set; } = [];
}

<div class="control">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Key</label>
        </div>
        <div class="field-body">
            <div class="field">
                <input class="input is-family-monospace has-background-dark " name="key" type="text" />
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Value</label>
        </div>
        <div class="field-body">
            <div class="field">
                <textarea class="textarea is-family-monospace has-background-dark" name="value" type="text" />
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Comments</label>
        </div>
        <div class="field-body">
            <div class="field">
                <textarea class="textarea" name="comments" type="text" />
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Tags</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="field has-addons">
                    <div class="control">
                        <input name="tag" class="input add-tag-input" type="text" />
                    </div>
                    <div class="control">
                        <button
                        hx-get="/fragments/tag"
                        hx-include="previous .add-tag-input"
                        hx-params="tag,color-classes"
                        hx-vals='{"color-classes": "has-background-info-25 has-text-info"}'
                        hx-target="next .secret-tags"
                        hx-swap="beforeend"
                        class="button is-info is-dark">Add Tag</button>
                    </div>
                </div>
                <div class="secret-tags field is-grouped is-grouped-multiline mt-2"
                    _="on htmx:afterSwap set (the previous .add-tag-input)'s value to ''">
                    @foreach (var tag in @Tags)
                    {
                        <Tag 
                            ColorClasses="has-background-info-25 has-text-info"
                            IsMonospace="true" IsStatic="true" Text="@tag" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
