@using Newtonsoft.Json
@code {
    [Parameter]
    public required string Target { get; set; }
    [Parameter]
    public required Dictionary<string, string> Payload { get; set; }
}
<div 
    id="modal-container"
    class="modal is-active is-justify-content-flex-start pt-6"
    hx-swap-oob="true">
    <div 
        class="modal-background"
        _="
            on click
                remove .is-active from #modal-container
                set #modal-container's innerHTML to ''
            end
            on keydown(key) from elsewhere
                if the key is 'Escape'
                    send click to me
                end
            end
        "></div>
    <div class="modal-content">
        <div class="message">
            <div class="message-header">
                <p>Confirm password</p>
            </div>
            <div class="message-body">
                <div class="control">
                    <form
                        hx-post="@Target"
                        hx-vals='@JsonConvert.SerializeObject(Payload)'
                        hx-swap="none">
                        <div class="field">
                            <p>Please confirm password to continue</p>
                        </div>

                        <!-- To make chrome DOM warnings happy -->
                        <input class="is-hidden" autocomplete="username" type="text" name="username"  />

                        <div class="field">
                            <div class="control">
                                <input class="input" placeholder="password" type="password" name="password" autocomplete="current-password"/>
                            </div>
                            <p 
                                _="on updateErrors set my innerHTML to the event's detail.value"
                                id="enrich-with-password-errors" class="help is-danger" style="white-space:pre-wrap;"></p>
                        </div>

                        <div class="field">
                            <div class="buttons">
                                <button class="button is-primary is-dark">Submit</button>
                                <button class="button is-danger is-dark"
                                    _="on click send click to the previous .modal-background">Cancel</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>