@model Gabbro_Secret_Manager.Core.Views.RegisterModel
<div class="page flex flex-col align-center" id="registerPage">
    <div class="flex flex-col align-center" style="width: 250px">
        <form class="flex flex-col gap-15" hx-post="/account/register" hx-target="#registerPage" hx-swap="outerHTML">
            <div class="flex flex-col gap-5">
                <input id="username"  name="username" autocomplete="username" type="text" class="fs-18 show-hover" value="@(Model.Username ?? "")"/>
                @if (!string.IsNullOrEmpty(Model.UsernameError))
                {
                    <div class="form-error">@Model.UsernameError</div>
                }
                else
                {
                    <div>username</div>
                }
            </div>
            <div class="flex flex-col gap-5">
                <input id="password" type="password" autocomplete="new-password" name="password" class="fs-18" value="@(Model.Password ?? "")"/>
                @if (!string.IsNullOrEmpty(Model.PasswordError))
                {
                    <div class="form-error">@Model.PasswordError</div>
                }
                else
                {
                    <div>password</div>
                }
            </div>
            <div class="flex flex-row j-between">
                <button class="positive" type="submit">Register</button>
                <button hx-get="/partials/login" hx-target="#registerPage" hx-swap="outerHTML" hx-push-url="/login">I already have an account</button>
            </div>
        </form>
    </div>
</div>

